## Voron Design Voron Trident 300mm BigTreeTech Octopus V1.1 TMC2209 UART conf
## Serial VT.773
## ------------------------------------------------------------------
## Built by whodidyouthink

#####################################################################
#   Imports and initialization
#####################################################################

## Initialize System
#  Load essential system includes, including required system macros
#--------------------------------------------------------------------
[include mainsail.cfg]                 # fluidd required configuration
[include aliases.cfg]                # Human-readable and pin names
[include system/*.cfg]
[include macros/*.cfg]
[include macros/klicky_macros/macros.cfg]
[include macros/klicky_macros/klicky-z-tilt-adjust.cfg]
[include macros/kamp/*.cfg]
[include K-ShakeTune/*.cfg]

#[include ampon.cfg]

[mcu]
# Primary control board: Octopus v1.1
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_5B0046001551303432323631-if00
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[exclude_object]

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 8000
max_accel_to_decel: 5000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers
max_z_accel: 350
square_corner_velocity: 10.0

[idle_timeout]
timeout: 1800

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 71.6
#max accel 18.8k
shaper_type_y = mzv
shaper_freq_y = 46.6
#max accel 7.5k

[probe]
## Klicky Probe
pin: BLT_CTL
x_offset: 0
y_offset: 23
#z_offset: 5.380 d2f-5 xol
#z_offset: 8.28
speed: 5
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.0125
samples_tolerance_retries: 3

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 35.077
#*# pid_ki = 0.995
#*# pid_kd = 309.120
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.411
#*# pid_ki = 1.010
#*# pid_kd = 124.381
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.058750, -0.064375, -0.020000, -0.011875, -0.008125
#*# 	  -0.033750, -0.050000, 0.008750, 0.033125, 0.011875
#*# 	  -0.032500, -0.014375, 0.006250, 0.017500, 0.009375
#*# 	  -0.040625, -0.038125, -0.021875, 0.026250, -0.010625
#*# 	  -0.028125, -0.033125, -0.003750, -0.008750, -0.012500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 260.0
#*# min_y = 40.0
#*# max_y = 260.0
#*#
#*# [probe]
#*# z_offset = 8.710
