#####################################################################
#   Display
#####################################################################

[display]
##  mini12864 LCD Display
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[output_pin beeper]
pin: EXP1_1
value: 0
shutdown_value: 0
pwm: True
cycle_time: 0.0005 ; Default beeper tone in kHz. 1 / 0.0005 = 2000Hz (2kHz)

[neopixel btt_mini12864]
##  To control Neopixel RGB in mini12864 display
pin: EXP1_6
chain_count: 3
initial_RED: 0.2
initial_GREEN: 0.1
initial_BLUE: 0.3
color_order: RGB

## RGB
[neopixel toolhead_neopixel]
pin: can0:RGBLED
chain_count: 3
color_order: GRB
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0

##  Set RGB values on boot up for each Neopixel. 
##  Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
        SET_LED LED=btt_mini12864 RED=0.2 GREEN=0 BLUE=0.3 INDEX=1 TRANSMIT=0
        SET_LED LED=btt_mini12864 RED=0.2 GREEN=0 BLUE=0.3 INDEX=2 TRANSMIT=0
        SET_LED LED=btt_mini12864 RED=0.2 GREEN=0 BLUE=0.3 INDEX=3 
        SET_LED LED=toolhead_neopixel RED=0.2 GREEN=0 BLUE=0.3 INDEX=1
        #SET_LED LED=toolhead_neopixel RED=0.4 GREEN=0.1 BLUE=0.4 INDEX=2 TRANSMIT=0
        #SET_LED LED=toolhead_neopixel RED=0.4 GREEN=0.1 BLUE=0.4 INDEX=3

[menu __main __octoprint]
type: disabled