#[filament_motion_sensor filament_sensor]
#detection_length: 16
#extruder: extruder
#switch_pin: ^ESTOP2
#pause_on_runout: True
#insert_gcode:
#    M117 Insert Detected
#runout_gcode:
#    M117 Runout Detected
#    LCDRGB R=1 G=0 B=0  # Turn LCD red
#    BEEP I=12

[filament_switch_sensor switch_sensor]
switch_pin: ^ESTOP2
pause_on_runout: False
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  M117 Filament switch runout
  BEEP I=12
insert_gcode:
  M117 Filament switch inserted

[filament_motion_sensor encoder_sensor]
switch_pin: ^ESTOP3
detection_length: 10
extruder: extruder
pause_on_runout: False
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  M117 Filament encoder runout
  LCDRGB R=1 G=0 B=0  # Turn LCD red
  BEEP I=12
insert_gcode:
  M117 Filament encoder inserted